{% extends 'base.html' %}

{% block content%}
<div class="card w-75">
    <div class="card-header">
        <span> {{ movie.title }}</span>
    </div>
    <div class="card-body">
        <ul class="list-group">
        <li class="list-group-item">{{ movie.year }}</li>
        <li class="list-group-item">{{ movie.director }}</li>
        <li class="list-group-item">{{ movie.studio }}</li>
        </ul>
    </div>
</div>
    <p>
    <form method="post" action="{% url 'add_comment' movie.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    </p>

{% endblock %}